/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:14px Arial, Serif; background:#fff; color:#212121; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
    line-height: 1.45;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Arial, Serif; color:#000; text-decoration:none; }
a:hover                        { text-decoration:underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }
button, input, a {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.content {
    width: 842px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: 'DinDisplayPro-reg';
    src: url('../fonts/DinDisplayPro-reg.eot');
    src: url('../fonts/DinDisplayPro-reg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DinDisplayPro-reg.woff') format('woff'),
         url('../fonts/DinDisplayPro-reg.ttf') format('truetype'),
         url('../fonts/DinDisplayPro-reg.svg#pf_dindisplay_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DinDisplayPro-bold';
    src: url('../fonts/DinDisplayPro-bold.eot');
    src: url('../fonts/DinDisplayPro-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DinDisplayPro-bold.woff') format('woff'),
         url('../fonts/DinDisplayPro-bold.ttf') format('truetype'),
         url('../fonts/DinDisplayPro-bold.svg#pf_dindisplay_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DinDisplayPro-light';
    src: url('../fonts/DinDisplayPro-light.eot');
    src: url('../fonts/DinDisplayPro-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DinDisplayPro-light.woff') format('woff'),
         url('../fonts/DinDisplayPro-light.ttf') format('truetype'),
         url('../fonts/DinDisplayPro-light.svg#pf_dindisplay_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DinDisplayPro-med';
    src: url('../fonts/DinDisplayPro-med.eot');
    src: url('../fonts/DinDisplayPro-med.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DinDisplayPro-med.woff') format('woff'),
         url('../fonts/DinDisplayPro-med.ttf') format('truetype'),
         url('../fonts/DinDisplayPro-med.svg#pf_dindisplay_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.bg-main {
    background: url("../images/bg_main.png") no-repeat top center;
}
.bg-main-blue {
    background: url("../images/bg_main_blue.jpg") #1775A6 no-repeat top center;
}
.wrapper {
    overflow: hidden;
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    background: url("../images/header/bg_header_top.jpg") #fff no-repeat top center;

    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
    .wrapper:after {
        content: '';
        display: block;
        width: 100%;
        height: 187px;
    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    overflow: hidden;
    padding: 20px 0 10px;
    font: 16px 'DinDisplayPro-reg', sans-serif;
}
    .main-logo {
        float: left;
        overflow: hidden;
        width: 256px;
        height: 85px;
    }
    .header .content {
        overflow: hidden;
        float: right;
        margin-top: 25px;
        text-align: center;
    }
        .box-tell {
            float: left;
            font: 22px 'DinDisplayPro-med', sans-serif;
        }
            .box-tell li {
                margin-bottom: 3px;
            }
            .box-tell .tell-1 {
                padding-left: 25px;
                background: url("../images/header/tell_sprite.png") no-repeat 0 7px;
            }
            .box-tell .tell-2 {
                padding-left: 25px;
                background: url("../images/header/tell_sprite.png") no-repeat 0 -27px;
            }
                .box-tell span {
                    color: #6f6f6f;
                }
        .credit-box {
            float: right;
            color: #6f6f6f;
            font: 16px 'DinDisplayPro-reg', sans-serif;
            text-align: left;
        }
            .credit-box ul {
                float: left;
            }
            .credit-box .text {
                margin-top: 3px;
            }
                .credit-box .first {
                    padding-left: 23px;
                    margin-bottom: 13px;
                    background: url("../images/header/credit_icon.png") no-repeat 0 3px;
                }
                .credit-box .second {
                    padding-left: 23px;
                    color: #005f87;
                    background: url("../images/header/credit_icon.png") no-repeat 0 -34px;
                }
            .box-cards-foto {
                overflow: hidden;
                width: 91px;
                margin-left: 15px;
            }
                .box-cards-foto li {
                    float: left;
                    margin-bottom: 5px;
                }
                .box-cards-foto li:nth-child(2n) {
                    float: right;
                }
                    .box-cards-foto li img {
                        display: block;
                    }
        .call-back-box {
            display: inline-block;
            text-align: left;
        }
            .call-back-box li {
                margin-bottom: 2px;
                color: #6e6e6e;
            }
            .call-back-box .info,
            .credit-box .info {
                display: block;
                margin-top: 15px;
                padding-left: 23px;
                background: url("../images/header/clock_icon.png") no-repeat 0 2px;
            }
            .credit-box .info {
                margin: 0 0 13px 0;
            }
                .btn {
                    padding: 5px;
                    background: #E97C22;
                    border: 1px solid #CA630E;
                    color: #fff;
                    font-size: 14px;
                    cursor: pointer;

                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                }
                .btn:hover {
                    background: #CA630E;
                }
                .call-back-box strong,
                .credit-box strong {
                    font-weight: 400;
                    color: #212121;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.bg-side-bar {
    overflow: hidden;
    background: #F4FAFD;
}
.side-bar {
    float: left;
    width: 290px;
    background: #F4FAFD;
}
    .side-bar section {
        margin-bottom: 15px;
    }
        .header-section-side-bar h2 {
            padding: 0 20px;
            margin-bottom: 10px;
            background: #DCE5E7;
            font: 400 24px 'DinDisplayPro-reg', sans-serif;
            line-height: 43px;
        }
        .content-side-bar {
            padding: 0 20px 20px;
        }
            .content-side-bar ul {
                margin-bottom: 16px;
            }
                .content-side-bar li {
                    position: relative;
                    padding: 14px 0 0;
                }
                .content-side-bar.bord-bot li {
                    border-bottom: 1px solid #D3DCE6;
                }
                    .date {
                        display: inline-block;
                        margin-bottom: 10px;
                        font: 400 13px 'DinDisplayPro-reg', sans-serif;
                        color: #6f6f6f;
                    }
                    .content-side-bar p {
                        margin-bottom: 16px;
                        line-height: 18px;
                    }
                        .content-side-bar p a {
                            font-size: 14px;
                            color: #005f87;
                        }
                    .descr-box {
                        position: absolute;
                        z-index: 1;
                        bottom: 13px;
                        text-align: right;
                        font: 400 18px 'DinDisplayPro-reg', sans-serif;
                        color: #f7f7f7;
                    }
                        a.description {
                            display: inline-block;
                            float: right;
                            margin-bottom: 12px;
                            padding: 7px 22px 9px 12px;
                            background: rgba(0, 0, 0, 0.6);
                            line-height: 20px;
                            cursor: pointer;
                        }
                        .size {
                            padding-right: 22px;
                        }
        a.link-folder {
            position: relative;
            display: inline-block;
            padding-left: 25px;
            font-size: 14px;
            color: #005f87;
        }
            .link-folder:before {
                content: "";
                position: absolute;
                left: 0;
                top: -1px;
                width: 16px;
                height: 15px;
                background: url("../images/sideBar/folder.png") no-repeat center;
            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.main-content {
    overflow: hidden;
    width: 842px;
    padding: 0 0 70px 28px;
    background: #fff;
}
    .main-content p {
        margin-bottom: 20px;
    }
    .main-content a {
        text-decoration: underline;
        font-size: 14px;
        color: #005f87;
    }
    .main-content a:hover {
        text-decoration: none;
    }
    .main-nav {
        overflow: hidden;
        margin-bottom: 7px;
    }
        .main-nav ul {
            display: table;
            width: 100%;
        }
            .main-nav li {
                display: table-cell;
                border-left: 1px solid #1A547F;
                text-align: center;
            }
            .main-nav li:first-child {
                border-left: none;
            }
            .main-nav .active a,
            .main-nav .active a:hover {
                background: #0E5984;
            }
                .main-nav a {
                    display: block;
                    padding: 15px 0 16px;
                    font: 15px 'DinDisplayPro-med', sans-serif;
                    background: #226E9A;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                .main-nav a:hover {
                    background: #4086AE;
                }
    .box-slider {
        position: relative;
        height: 292px;
        margin-bottom: 35px;
        background: #666;
    }
        .box-slider li {
            position: relative;
        }
            .box-slider .block-text {
                position: absolute;
                top: 55px;
                left: 55px;
                width: 504px;
                height: 158px;
                padding: 15px 14px;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                background: url("../images/content/slider/bg_text_slider.png") no-repeat center;
            }
                .box-slider .block-text h3 {
                    margin-bottom: 10px;
                    color: #104773;
                    font: 24px 'DinDisplayPro-bold', sans-serif;
                }
                .box-slider .block-text p {
                    font-size: 14px;
                }
                .box-slider img {
                    width: 842px;
                    height: 292px;
                }
        .header-section {
            margin-bottom: 30px;
            padding-bottom: 5px;
            border-bottom: 2px solid #DCE5E7;
        }
            .header-section h2 {
                font: 30px 'DinDisplayPro-reg', sans-serif;
            }
        .sub-header {
            margin-bottom: 10px;
            color: #104773;
            font-size: 28px;
            font-weight: 400;
        }
        .list-our-service {
            overflow: hidden;
        }
            .list-our-service li {
                float: left;
                position: relative;
                width: 260px;
                height: 200px;
                margin: 0 30px 30px 0;

                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -ms-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
            }
            .list-our-service li:nth-child(3n) {
                margin-right: 0;
            }
            .list-our-service .first {
                background: #4C3F35;
            }
            .list-our-service .second{
                background: #1C599B;
            }
            .list-our-service .third {
                background: #ED6E07;
            }
            .list-our-service .fourth {
                background: #6CA127;
            }
            .list-our-service .fifth {
                background: #FED700;
            }
            .list-our-service .sixth {
                background: #6DCFF6;
            }
            .list-our-service .first:hover .text {
                background: #6A5A4D;
            }
            .list-our-service .second:hover .text {
                background: #266DB9;
            }
            .list-our-service .third:hover .text {
                background: #FF8421;
            }
            .list-our-service .fourth:hover .text {
                background: #7FB737;
            }
            .list-our-service .fifth:hover .text {
                background: #FEDE2D;
            }
            .list-our-service .sixth:hover .text {
                background: #85DCFF;
            }
                .list-our-service .wrap-foto {
                    display: table;
                    height: 157px;
                    width: 100%;
                    text-align: center;
                }
                    .list-our-service .wrap-foto span {
                        display: table-cell;
                        vertical-align: middle;
                    }
                        .list-our-service img {
                            opacity: 0.6;
                        }
                        .list-our-service li:hover img {
                            opacity: 1;
                        }
                .list-our-service .text {
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    padding: 9px 0;
                    text-align: center;
                    font: 22px 'DinDisplayPro-med', sans-serif;
                    color: #fff;
                    background: #000;

                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    -ms-transition: all .5s;
                    -o-transition: all .5s;
                    transition: all .5s;
                }
                .list-our-service .first .text {
                    background: #382D25;
                }
                .list-our-service .second .text {
                    background: #0E427C;
                }
                .list-our-service .third .text {
                    background: #D5530C;
                }
                .list-our-service .fourth .text {
                    background: #467B22;
                }
                .list-our-service .fifth .text {
                    background: #E6A802;
                }
                .list-our-service .sixth .text {
                    background: #00AEEF;
                }
    .about-company .header-section {
        margin-bottom: 20px;
    }

    .box-workers {
        overflow: hidden;
    }
        .header-workers {
            padding: 8px 0 9px;
            margin-bottom: 26px;
            background: #EDEBEA;
            border-left: 7px solid #4C3F35;
        }
        .drilling-team .header-workers {
            border-left-color: #4C3F35;
        }
        .water-supply-team .header-workers {
            border-left-color: #1C599B;
        }
        .heating-team .header-workers {
            border-left-color: #ED6E07;
        }
            .header-workers h2 {
                margin-left: 12px;
                font-size: 18px;
                font-weight: 400;
            }
        .list-name-workers {
            overflow: hidden;
            font-size: 14px;
        }
            .list-name-workers dt {
                display: inline-block;
                font-weight: bold;
            }
            .list-name-workers dd {
                display: inline-block;
            }
        .list-workers-foto {
            overflow: hidden;
            margin: 25px 0 20px;
        }
            .list-workers-foto li {
                float: left;
                width: 154px;
                height: 233px;
                padding: 20px 20px 0;
                margin: 0 0 20px 19px;
                border: 1px solid #DCE5E7;
                text-align: center;
            }
            .list-workers-foto li:first-child,
            .list-workers-foto li:nth-child(5n) {
                margin-left: 0;
            }
                .list-workers-foto img {
                    margin-bottom: 10px;
                }
                .list-workers-foto span {
                    display: inline-block;
                    width: 150px;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
    overflow: hidden;
    width: 1160px;
    padding: 15px 20px 20px;
    margin: -187px auto 0;
    background: #EAF0F1;
    border-top: 1px solid #D8DEE2;
}
    .footer .left-box {
        float: left;
    }
        .footer-logo {
            overflow: hidden;
            width: 204px;
            height: 68px;
            margin-bottom: 15px;
        }
            .footer-logo a,
            .footer-logo img {
                display: block;
                width: 204px;
                height: 68px;
            }
        .copyright {
            display: block;
            margin-bottom: 19px;
            font-size: 13px;
            color: #6f6f6f;
        }
        .statistics-box {
            overflow: hidden;
        }
            .statistics-box li {
                float: left;
                margin-left: 10px;
            }
            .statistics-box li:first-child {
                margin-left: 0;
            }
                .statistics-box img {
                    display: block;
                }
    .footer .content {
        overflow: hidden;
        float: right;
    }
        .nav-footer {
            overflow: hidden;
            display: table;
            width: 100%;
            margin-bottom: 25px;
        }
            .nav-footer li {
                position: relative;
                display: table-cell;
                text-align: center;
            }
            .nav-footer li:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 23px;
                width: 1px;
                background: #CDD9DC;
            }
                .nav-footer a {
                    color: #005f87;
                    text-transform: uppercase;
                    text-decoration: none;
                    font: 14px 'DinDisplayPro-med', sans-serif;
                }
                .nav-footer a:hover {
                    text-decoration: underline;
                }
        .list-service-footer {
            float: right;
            margin: 0 25px 0 30px;
        }
            .list-service-footer li {
                background: url("../images/footer/icon_list.png") 0 8px no-repeat;
                line-height: 1.25;
            }
                .list-service-footer a {
                    margin-left: 15px;
                    font-size: 13px;
                    color: #005f87;
                    text-decoration: none;
                }
                .list-service-footer a:hover {
                    text-decoration: underline;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (min-width: 1900px) {
    .bg-main-blue {
        background-size: 100% 100%;
    }
}

/*slider*/

#slides {
    position:relative;
}

#slides .slidesNext,#slides .slidesPrevious {
    position:absolute;
    top:110px;
    left:0;
    width:41px;
    height:55px;
    display:block;
    z-index:101;
    overflow:hidden;
    background: rgba(0, 0, 0, 0.7) url(../images/content/slider/prev.png) no-repeat center;
    text-indent: -9999px;
}
#slides .slidesNext {
    left: auto;
    right: 0;
    background: rgba(0, 0, 0, 0.7) url(../images/content/slider/next.png) no-repeat center;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#slides .slidesPrevious {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#slides .slidesNext:hover {
    background-image: url(../images/content/slider/next_hover.png);
}
#slides .slidesPrevious:hover {
    background-image: url(../images/content/slider/prev_hover.png);
}
.slidesPagination {
    position: absolute;
    bottom: 20px;
    left: 55px;
    z-index: 99;
}

.slidesPagination li {
    float:left;
    margin-right: 5px;
}

.slidesPagination li a {
    display:block;
    overflow:hidden;
    width: 7px;
    height: 7px;
    border: 2px solid #F7F7F7;
    text-indent: -9999px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.slidesPagination li.slidesCurrent a {
    background: #fff;
}

.current_slide {
    font:bold 10px/1.33 sans-serif;
    float:left;
    margin-top:12px;
}

.controls {
    display:block;
    margin-top:12px;
    float:left;
    color:#333;
    font:bold 10px/1.33 sans-serif;
    margin-right:10px;
}