/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:14px Arial, Serif; background:url("../images/bg_main.png") no-repeat top center; color:#212121; }
div,menu,figure,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
    line-height: 1.45;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:14px Arial, Serif; color:#005f87; text-decoration:none; }
a:hover                        { text-decoration:underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.content {
    width: 842px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: 'DinDisplayPro-reg';
    src: url('../fonts/DinDisplayPro-reg.eot');
    src: url('../fonts/DinDisplayPro-reg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DinDisplayPro-reg.woff') format('woff'),
         url('../fonts/DinDisplayPro-reg.ttf') format('truetype'),
         url('../fonts/DinDisplayPro-reg.svg#pf_dindisplay_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DinDisplayPro-bold';
    src: url('../fonts/DinDisplayPro-bold.eot');
    src: url('../fonts/DinDisplayPro-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DinDisplayPro-bold.woff') format('woff'),
         url('../fonts/DinDisplayPro-bold.ttf') format('truetype'),
         url('../fonts/DinDisplayPro-bold.svg#pf_dindisplay_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DinDisplayPro-light';
    src: url('../fonts/DinDisplayPro-light.eot');
    src: url('../fonts/DinDisplayPro-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DinDisplayPro-light.woff') format('woff'),
         url('../fonts/DinDisplayPro-light.ttf') format('truetype'),
         url('../fonts/DinDisplayPro-light.svg#pf_dindisplay_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DinDisplayPro-med';
    src: url('../fonts/DinDisplayPro-med.eot');
    src: url('../fonts/DinDisplayPro-med.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DinDisplayPro-med.woff') format('woff'),
         url('../fonts/DinDisplayPro-med.ttf') format('truetype'),
         url('../fonts/DinDisplayPro-med.svg#pf_dindisplay_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.home-blue {
    background: url("../images/bg_main_blue.jpg") #1775A6 no-repeat top center;
}
.water-supply-page {
    background: url("../images/bg_water_supply.png") #1C599A no-repeat top center;
}
.wrapper {
    overflow: hidden;
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    background: url("../images/header/bg_header_top.jpg") #fff repeat-x top left;

    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
    .wrapper:after {
        content: '';
        display: block;
        width: 100%;
        height: 187px;
    }
.water-supply-page .wrapper {
    width: 1201px;
    background-image: url("../images/header/bg_header_top_water_supply.jpg");
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    overflow: hidden;
    padding: 20px 0 10px;
    font: 16px 'DinDisplayPro-reg', sans-serif;
}
    .main-logo {
        float: left;
        overflow: hidden;
        width: 256px;
        height: 85px;
    }
    .header .content {
        overflow: hidden;
        float: right;
        margin-top: 25px;
        text-align: center;
    }
        .box-tell {
            float: left;
            font: 22px 'DinDisplayPro-med', sans-serif;
        }
            .box-tell li {
                margin-bottom: 3px;
            }
            .box-tell .tell-1 {
                padding-left: 25px;
                background: url("../images/header/tell_sprite.png") no-repeat 0 7px;
            }
            .box-tell .tell-2 {
                padding-left: 25px;
                background: url("../images/header/tell_sprite.png") no-repeat 0 -27px;
            }
                .box-tell span {
                    color: #6f6f6f;
                }
        .credit-box {
            float: right;
            color: #6f6f6f;
            font: 16px 'DinDisplayPro-reg', sans-serif;
            text-align: left;
        }
            .credit-box ul {
                float: left;
            }
            .credit-box .text {
                margin-top: 3px;
            }
                .credit-box .first {
                    padding-left: 23px;
                    margin-bottom: 13px;
                    background: url("../images/header/credit_icon.png") no-repeat 0 3px;
                }
                .credit-box .second {
                    padding-left: 23px;
                    color: #005f87;
                    background: url("../images/header/credit_icon.png") no-repeat 0 -34px;
                }
            .box-cards-foto {
                overflow: hidden;
                width: 91px;
                margin-left: 15px;
            }
                .box-cards-foto li {
                    float: left;
                    margin-bottom: 5px;
                }
                .box-cards-foto li:nth-child(2n) {
                    float: right;
                }
                    .box-cards-foto li img {
                        display: block;
                    }
        .call-back-box {
            display: inline-block;
            text-align: left;
        }
            .call-back-box li {
                margin-bottom: 2px;
                color: #6e6e6e;
            }
            .call-back-box .info,
            .credit-box .info {
                display: block;
                margin-top: 15px;
                padding-left: 23px;
                background: url("../images/header/clock_icon.png") no-repeat 0 2px;
            }
            .credit-box .info {
                margin: 0 0 13px 0;
            }
                .btn {
                    padding: 5px;
                    background: #E97C22;
                    border: 1px solid #CA630E;
                    color: #fff;
                    font-size: 14px;
                    cursor: pointer;

                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;

                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    -ms-transition: all .5s;
                    -o-transition: all .5s;
                    transition: all .5s;
                }
                .btn:hover {
                    background: #CA630E;
                }
                .call-back-box strong,
                .credit-box strong {
                    font-weight: 400;
                    color: #212121;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.bg-side-bar {
    background: #F4FAFD;
}
.side-bar {
    float: left;
    width: 290px;
    background: #F4FAFD;
}
    .side-bar section {
        margin-bottom: 15px;
    }
        .header-section-side-bar h2 {
            padding: 8px 20px;
            margin-bottom: 30px;
            background: #DCE5E7;
            font: 400 24px 'DinDisplayPro-reg', sans-serif;
        }
        .content-side-bar {
            padding: 0 20px 20px;
        }
            .content-side-bar ul {
                margin-bottom: 16px;
            }
                .list-box-action li {
                    position: relative;
                    margin-bottom: 20px;
                }
                .content-side-bar.bord-bot li {
                    border-bottom: 1px solid #D3DCE6;
                }
                    .content-side-bar li img {
                        display: block;
                    }
                    .date {
                        display: inline-block;
                        margin-bottom: 10px;
                        font: 400 13px 'DinDisplayPro-reg', sans-serif;
                        color: #6f6f6f;
                    }
                    .content-side-bar p {
                        margin-bottom: 16px;
                        line-height: 18px;
                    }
                        .content-side-bar p a {
                            font-size: 14px;
                            color: #005f87;
                        }
                    .descr-box {
                        position: absolute;
                        z-index: 1;
                        bottom: 13px;
                        text-align: right;
                        font: 400 18px 'DinDisplayPro-reg', sans-serif;
                        color: #f7f7f7;
                    }
                        a.description {
                            display: inline-block;
                            float: right;
                            margin-bottom: 12px;
                            padding: 7px 22px 9px 12px;
                            background: rgba(0, 0, 0, 0.6);
                            line-height: 20px;
                            cursor: pointer;
                        }
                        .size {
                            padding-right: 22px;
                        }
        a.link-folder {
            position: relative;
            display: inline-block;
            padding-left: 25px;
            font-size: 14px;
            color: #005f87;
        }
            .link-folder:before {
                content: "";
                position: absolute;
                left: 0;
                top: -1px;
                width: 16px;
                height: 15px;
                background: url("../images/sideBar/folder.png") no-repeat center;
            }
        .dogovor-box .foto {
            display: block;
            width: 250px;
            height: 195px;
            margin: 0 auto 15px;
        }

        .list-status-work li:before {
            content: '';
            display: inline-block;
            position: relative;
            top: 2px;
            width: 13px;
            height: 13px;
            margin-right: 5px;
        }
        .list-status-work .free:before {
            background: #9CCC5D;
        }
        .list-status-work .underemployed:before {
            background: #FFF99A;
        }
        .list-status-work .busy:before {
            background: #EE4A4A;
        }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.main-content {
    overflow: hidden;
    width: 842px;
    padding: 0 0 70px 28px;
    background: #fff;
}
    .main-content p {
        margin-bottom: 20px;
        text-indent: 20px;
    }
    .main-content a {
        text-decoration: underline;
        font-size: 14px;
        color: #005f87;
    }
    .main-content a:hover {
        text-decoration: none;
    }
    .main-nav {
        overflow: hidden;
        margin-bottom: 7px;
    }
        .main-nav ul {
            display: table;
            width: 100%;
        }
            .main-nav li {
                display: table-cell;
                border-left: 1px solid #1A547F;
                text-align: center;
            }
            .main-nav li:first-child {
                border-left: none;
            }
            .main-nav .active a,
            .main-nav .active a:hover {
                background: #0E5984;
            }
                .main-nav a {
                    display: block;
                    padding: 15px 0 16px;
                    font: 15px 'DinDisplayPro-med', sans-serif;
                    background: #226E9A;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                .main-nav a:hover {
                    background: #4086AE;

                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    -ms-transition: all .5s;
                    -o-transition: all .5s;
                    transition: all .5s;
                }
    .box-slider {
        position: relative;
        height: 292px;
        margin-bottom: 35px;
        background: #666;
    }
        .box-slider li {
            position: relative;
        }
            .box-slider .block-text {
                position: absolute;
                top: 55px;
                left: 55px;
                width: 504px;
                height: 158px;
                padding: 15px 14px;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                background: url("../images/content/slider/bg_text_slider.png") no-repeat center;
            }
                .box-slider .block-text h3 {
                    margin-bottom: 10px;
                    color: #104773;
                    font: 24px 'DinDisplayPro-bold', sans-serif;
                }
                .box-slider .block-text p {
                    font-size: 14px;
                }
                .box-slider img {
                    width: 842px;
                    height: 292px;
                }
        .header-section {
            margin-bottom: 30px;
            padding-bottom: 5px;
            border-bottom: 2px solid #DCE5E7;
        }
            .header-section h1,
            .header-section h2 {
                font: 30px 'DinDisplayPro-reg', sans-serif;
            }
        .sub-header {
            margin-bottom: 10px;
            color: #104773;
            font-size: 28px;
            font-weight: 400;
        }
        .list-our-service {
            overflow: hidden;
        }
            .list-our-service li {
                float: left;
                position: relative;
                width: 260px;
                height: 200px;
                margin: 0 30px 30px 0;

                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -ms-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
            }
            .list-our-service li:nth-child(3n) {
                margin-right: 0;
            }
            .list-our-service .first {
                background: #4C3F35;
            }
            .list-our-service .second{
                background: #1C599B;
            }
            .list-our-service .third {
                background: #ED6E07;
            }
            .list-our-service .fourth {
                background: #6CA127;
            }
            .list-our-service .fifth {
                background: #FED700;
            }
            .list-our-service .sixth {
                background: #6DCFF6;
            }
            .list-our-service .first:hover .text {
                background: #6A5A4D;
            }
            .list-our-service .second:hover .text {
                background: #266DB9;
            }
            .list-our-service .third:hover .text {
                background: #FF8421;
            }
            .list-our-service .fourth:hover .text {
                background: #7FB737;
            }
            .list-our-service .fifth:hover .text {
                background: #FEDE2D;
            }
            .list-our-service .sixth:hover .text {
                background: #85DCFF;
            }
                .list-our-service .wrap-foto {
                    display: table;
                    height: 157px;
                    width: 100%;
                    text-align: center;
                }
                    .list-our-service .wrap-foto span {
                        display: table-cell;
                        vertical-align: middle;
                    }
                        .list-our-service img {
                            opacity: 0.6;
                        }
                        .list-our-service li:hover img {
                            opacity: 1;
                        }
                .list-our-service .text {
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    padding: 9px 0;
                    text-align: center;
                    font: 22px 'DinDisplayPro-med', sans-serif;
                    color: #fff;
                    background: #000;

                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    -ms-transition: all .5s;
                    -o-transition: all .5s;
                    transition: all .5s;
                }
                .list-our-service .first .text {
                    background: #382D25;
                }
                .list-our-service .second .text {
                    background: #0E427C;
                }
                .list-our-service .third .text {
                    background: #D5530C;
                }
                .list-our-service .fourth .text {
                    background: #467B22;
                }
                .list-our-service .fifth .text {
                    background: #E6A802;
                }
                .list-our-service .sixth .text {
                    background: #00AEEF;
                }
    .about-company .header-section {
        margin-bottom: 20px;
    }

    .box-workers {
        overflow: hidden;
    }
        .header-workers {
            padding: 8px 0 9px;
            margin-bottom: 26px;
            background: #EDEBEA;
            border-left: 7px solid #4C3F35;
        }
        .drilling-team .header-workers {
            border-left-color: #4C3F35;
        }
        .water-supply-team .header-workers {
            border-left-color: #1C599B;
        }
        .heating-team .header-workers {
            border-left-color: #ED6E07;
        }
            .header-workers h2 {
                margin-left: 12px;
                font-size: 18px;
                font-weight: 400;
            }
        .list-name-workers {
            overflow: hidden;
            font-size: 14px;
        }
            .list-name-workers dt {
                display: inline-block;
                font-weight: bold;
            }
            .list-name-workers dd {
                display: inline-block;
            }
        .list-workers-foto {
            overflow: hidden;
            margin: 25px 0 20px;
        }
            .list-workers-foto li {
                float: left;
                width: 154px;
                height: 233px;
                padding: 20px 20px 0;
                margin: 0 0 20px 19px;
                border: 1px solid #DCE5E7;
                text-align: center;
            }
            .list-workers-foto li:first-child,
            .list-workers-foto li:nth-child(5n) {
                margin-left: 0;
            }
                .list-workers-foto img {
                    margin-bottom: 10px;
                }
                .list-workers-foto span {
                    display: inline-block;
                    width: 150px;
                }

        .list-reviews li {
            padding: 20px 19px 12px;
            margin-bottom: 20px;
            background: #F4FAFD;
            border: 1px solid #DCE5E7;
            font-size: 16px;
        }
            .list-reviews .wrap-foto {
                position: relative;
                display: block;
                margin-bottom: 15px;
            }
                .list-reviews .wrap-foto img {
                    display: block;
                    width: 804px;
                    height: 166px;
                }
                .list-reviews .wrap-foto .link {
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 170px;
                    margin: -24px 0 0 -85px;
                    padding: 13px 0;
                    background: #DCE5E7;
                    text-align: center;
                }
                .list-reviews .wrap-foto:hover .link {
                    display: block;
                }
        .list-reviews dd,
        .list-reviews dt {
            display: inline-block;
        }
    .contacts .header-section {
        margin-bottom: 10px;
    }
    .box-contacts-text {
        float: left;
        width: 315px;
    }
        .box-contacts-text dt {
            margin: 15px 0 10px;
            font-weight: bold;
        }
    .box-main-form {
        float: right;
        width: 508px;
        margin-top: 20px;
        background: #F4FAFD;
        border: 1px solid #E0E9EB;
    }
        .header-form {
            display: block;
            width: 100%;
            padding: 8px 0 7px;
            font: 24px 'DinDisplayPro-reg';
            text-align: center;
            background: #DCE5E7;
        }
        .content-form {
            margin: 19px;
        }
            .content-form li {
                margin-bottom: 15px;
            }
            .content-form .wdt-input {
                width: 228px;
            }
                .content-form input,
                .content-form textarea {
                    font-size: 14px;
                    border: 1px solid #DCE5E7;
                    color: #6f6f6f;
                }
                .content-form .name {
                    display: block;
                    margin-bottom: 5px;
                }
                .form .star {
                    color: #f70000;
                }
                .content-form .input-text {
                    width: 100%;
                    height: 29px;
                    padding: 0 10px 0 15px;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                }
                .content-form textarea {
                    width: 100%;
                    height: 108px;
                    padding: 5px 10px 5px 15px;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    resize: none;
                }
                .content-form .input-capcha {
                    width: 156px;
                }
                .capcha-img {
                    margin: 6px 0 0 20px;
                }
        .footer-form {
            margin: 19px;
            text-align: center;
        }
            .note-form {
                margin-bottom: 15px;
                font-size: 13px;
                color: #6f6f6f;
                text-align: left;
            }
            .form .btn {
                width: 122px;
                height: 36px;
                font-size: 17px;
            }

        .wrap-foto-content {
            width: 320px;
            margin-top: 5px;
            margin-bottom: 10px;
            background: #DCE5E7;
        }
        .foto-content-left {
            float: left;
            margin-right: 20px;
        }
        .foto-content-right {
            float: right;
            margin-left: 20px;
        }
            .wrap-foto-content img {
                display: block;
                width: 320px;
                height: 240px;
            }
            .wrap-foto-content figcaption {
                margin: 12px 10px 8px;
                font-size: 13px;
                font-style: italic;
                font-weight: bold;
            }
        .btn-big {
            height: 44px;
            padding: 0 15px;
            margin-bottom: 20px;
            font-size: 18px;
        }
        .sub-header-content {
            margin-bottom: 10px;
            color: #104773;
            font-weight: 400;
        }
        h2.sub-header-content {
            font-size: 22px;
        }
        h3.sub-header-content {
            font-size: 18px;
        }
        h4.sub-header-content {
            font-size: 16px;
        }
        .banner-content {
            overflow: hidden;
            padding: 3px;
            margin-bottom: 35px;
            color: #edebea;
            font-size: 24px;
            font-weight: bold;
            background: url("../images/content/banner_border.png"),
                        url("../images/content/banner_bg.jpg") repeat;
            background-size: cover, auto;
        }
            .banner-content img {
                float: left;
            }
            .banner-content span {
                display: inline-block;
                margin: 25px 5px 0 25px;
            }
                .banner-content a {
                    color: #e97c22;
                    font-size: 24px;
                    font-weight: bold;
                    text-decoration: underline;
                }
                .banner-content a:hover {
                    text-decoration: none;
                }
        .header-list {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }
        .list-operating-procedure {
            margin: 0 0 17px 20px;
        }
        .list-works {
            margin: 0 0 17px 15px;
        }
            .list-works li {
                text-indent: 5px;
                list-style-image: url("../images/content/icon_list.png");
            }
            .list-operating-procedure li {
                list-style-type: decimal;
            }
    .table-service {
        width: 100%;
        margin-bottom: 28px;
        text-align: center;
        border: 1px solid #DCE5E7;

        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
        .table-service thead th {
            padding: 11px 0;
            background: #DCE5E7;
        }
            .table-service td {
                padding: 9px 5px 10px 20px;
                border: 1px solid #DCE5E7;
            }
            .table-service td:nth-child(5n + 1) {
                width: 48px;
                padding: 9px 0 10px 0;
            }
            .table-service td:nth-child(5n + 2) {
                text-align: left;
            }
    .list-work-performed {
        margin: 0 0 40px 15px;
    }
        .list-work-performed li {
            margin-bottom: 3px;
            text-indent: 5px;
            list-style-image: url("../images/content/icon_list.png");
        }
            .list-work-performed  li a {
                font-size: 18px;
                text-decoration: none;
                border-bottom: 1px solid #005f87;;
            }
            .list-work-performed  li a:hover {
                border: none;
            }
    .btn-icon,
    .btn-icon:hover {
        margin-bottom: 40px;
        padding-left: 55px;
        background-image: url("../images/content/check_icon.png");
        background-repeat: no-repeat;
        background-position: 13px 7px;
    }
    .list-benefits {
        margin-bottom: 75px;
    }
        .list-benefits li {
            overflow: hidden;
            margin-top: 20px;
            border: 2px solid #000;
        }
        .list-benefits li:first-child {
            margin-top: 0;
        }
        .list-benefits .first {
            border-color: #1C599B;
        }
            .list-benefits li:before {
                content: '';
                float: left;
                width: 50px;
                height: 66px;
                margin-right: 15px;
                background: url("../images/content/benefits1.png") no-repeat center #1C599B;
            }
        .list-benefits .attention {
            border-color: #6CA127;
        }
            .list-benefits .attention:before {
                background: url("../images/content/benefits2.png") no-repeat center #6CA127;
            }
        .list-benefits .warning {
            border-color: #E30000;
        }
            .list-benefits .warning:before {
                background: url("../images/content/benefits3.png") no-repeat center #E30000;
            }
            .list-benefits li p {
                margin: 13px 15px 13px 0;
                text-indent: 0;
            }
    .list-fotoalbom,
    .list-video {
        overflow: hidden;
        position: relative;
    }
        .list-fotoalbom li,
        .list-video li {
            position: relative;
            float: left;
            width: 260px;
            margin: 0 30px 20px 0;
            text-align: center;
            background: #F4FAFD;
        }
        .list-fotoalbom li:nth-child(3n),
        .list-video li:nth-child(3n) {
            margin-right: 0;
        }
            .list-fotoalbom li img,
            .list-video li img {
                display: inline-block;
                vertical-align: top;
                cursor: pointer;
            }
            .list-fotoalbom li img:hover,
            .list-video li img:hover,
            .list-video .icon-play:hover + img {
                opacity: 0.8;
            }
            .list-video .icon-play {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 5;
                margin: -24px 0 0 -29px;
                display: block;
                width: 58px;
                height: 48px;
                background: url("../images/content/Video/play_icon.png") center no-repeat #e97c22;
                cursor: pointer;
                text-indent: -9999px;

                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
            }
    .menu-inner-service {
        display: table;
        width: 100%;
        margin-bottom: 30px;
    }
        .menu-inner-service li {
            display: table-cell;
            min-width: 99px;
            height: 50px;
            background: #DCE5E7;
            border-left: 2px solid #fff;
            text-align: center;
            vertical-align: middle;
        }
        .menu-inner-service li:first-child {
            border: none;
        }
        .menu-inner-service li:hover {
            background: #E8F0F2;
        }
        .menu-inner-service .active a {
            padding-top: 4px;
            background: #fff;
            border-top: 5px solid #104773;
        }
            .menu-inner-service li a {
                display: block;
                height: 32px;
                padding: 9px 5px;
                text-decoration: none;
                color: #212121;
            }
                .menu-inner-service li a span {
                    display: table-cell;
                    height: 33px;
                    width: 119px;
                    vertical-align: middle;
                }
    .list-service-sidebar {
        background: #EDEBEA;
    }
        .list-service-sidebar .wrap-category-service {
            padding-bottom: 25px;
        }
        .list-service-sidebar .content-side-bar {
            padding-bottom: 0;
        }
            .header-service a {
                display: block;
                padding: 9px 0 9px 43px;
                font: 20px 'DinDisplayPro-reg';
                color: #fff;
            }
            .header-service a:hover {
                text-decoration: none;
            }
        li.active .header-service {
            margin-bottom: 30px;
        }
            li.active .header-service a {
                pointer-events: none;
            }
        .list-service-sidebar li.active {
            padding-bottom: 25px;
        }
            .drilling .header-service {
                background: #4C3F35;
            }
            .water-supply .header-service {
                background: #1C599B;
            }
            .heating .header-service {
                background: #ED6E07;
            }
            .sewerage .header-service {
                background: #6CA127;
            }
            .electrics .header-service {
                background: #F2CD00;
            }
            .water-treatment .header-service {
                background: #62CCF6;
            }
                .link-toggle {
                    position: relative;
                    display: block;
                    padding: 9px 0 9px 20px;
                    margin-bottom: 6px;
                    background: #fff;
                }
                    .link-toggle:before {
                        content: '';
                        position: absolute;
                        top: 10px;
                        left: 5px;
                        display: inline-block;
                        width: 0;
                        height: 0;
                        margin-right: 5px;
                        border-top: 6px solid transparent;
                        border-left: 6px solid #4C3F35;
                        border-bottom: 6px solid transparent;
                        border-right: 0;
                    }
                    .drilling .link-toggle:before {
                        border-left: 6px solid #4C3F35;
                    }
                    .link-toggle.active:before {
                        top: 14px;
                        width: 0;
                        height: 0;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-top: 6px solid red;
                        border-bottom: 0;
                    }
                    .drilling .link-toggle.active:before {
                        border-top: 6px solid #4C3F35;
                    }
                    .sub-menu-service {
                        margin: 20px 0 20px 20px;
                    }
                        .sub-menu-service li {
                            margin-bottom: 10px;
                        }
                            .sub-menu-service li a {
                                text-decoration: underline;
                            }
                            .sub-menu-service li a:hover {
                                text-decoration: none;
                            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
    overflow: hidden;
    width: 1160px;
    padding: 15px 20px 20px;
    margin: -187px auto 0;
    background: #EAF0F1;
    border-top: 1px solid #D8DEE2;
}
    .footer .left-box {
        float: left;
    }
        .footer-logo {
            overflow: hidden;
            width: 204px;
            height: 68px;
            margin-bottom: 15px;
        }
            .footer-logo a,
            .footer-logo img {
                display: block;
                width: 204px;
                height: 68px;
            }
        .copyright {
            display: block;
            margin-bottom: 19px;
            font-size: 13px;
            color: #6f6f6f;
        }
        .statistics-box {
            overflow: hidden;
        }
            .statistics-box li {
                float: left;
                margin-left: 10px;
            }
            .statistics-box li:first-child {
                margin-left: 0;
            }
                .statistics-box img {
                    display: block;
                }
    .footer .content {
        overflow: hidden;
        float: right;
    }
        .nav-footer {
            overflow: hidden;
            display: table;
            width: 100%;
            margin-bottom: 25px;
        }
            .nav-footer li {
                position: relative;
                display: table-cell;
                text-align: center;
            }
            .nav-footer li:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 23px;
                width: 1px;
                background: #CDD9DC;
            }
                .nav-footer a {
                    color: #005f87;
                    text-transform: uppercase;
                    text-decoration: none;
                    font: 14px 'DinDisplayPro-med', sans-serif;
                }
                .nav-footer a:hover {
                    text-decoration: underline;
                }
        .list-service-footer {
            float: right;
            margin: 0 25px 0 30px;
        }
            .list-service-footer li {
                background: url("../images/footer/icon_list.png") 0 8px no-repeat;
                line-height: 1.25;
            }
                .list-service-footer a {
                    margin-left: 15px;
                    font-size: 13px;
                    color: #005f87;
                    text-decoration: none;
                }
                .list-service-footer a:hover {
                    text-decoration: underline;
                }
/*---------------------------------BREAD-CRUMBS-------------------------------------*/
.bread-crumbs {
    overflow: hidden;
    margin-bottom: 15px;
    background: #F4FAFD;
    font-size: 13px;
    color: #6f6f6f;
}
    .bread-crumbs li {
        position: relative;
        float: left;
        margin-right: 18px;
        line-height: 25px;
    }
        .bread-crumbs li:before {
            content: "";
            position: absolute;
            top: 7px;
            left: -12px;
            width: 6px;
            height: 12px;
            background: url("../images/content/bread_crumbs_arrow.png") no-repeat center;
        }
        .bread-crumbs li:first-child:before {
            display: none;
        }
        .bread-crumbs a {
            position: relative;
            text-decoration: none;
            font-size: 13px;
            color: #005f87;
        }
        .bread-crumbs li:last-child a {
            pointer-events: none;
            color: #6f6f6f;
        }
        .bread-crumbs a:hover {
            text-decoration: underline;
        }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (min-width: 1900px) {
    .bg-main-blue {
        background-size: 100% 100%;
    }
}
.box-hide {
    display: none;
}
/*map*/
.map {
    height: 575px;
    margin-bottom: 33px;
}

/*slider*/
#slides {
    position:relative;
}

#slides .slidesNext,
#slides .slidesPrevious {
    position:absolute;
    top:110px;
    left:0;
    width:41px;
    height:55px;
    display:block;
    z-index:101;
    overflow:hidden;
    background: rgba(0, 0, 0, 0.7) url(../images/content/slider/prev.png) no-repeat center;
    text-indent: -9999px;
}
#slides .slidesNext {
    left: auto;
    right: 0;
    background: rgba(0, 0, 0, 0.7) url(../images/content/slider/next.png) no-repeat center;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#slides .slidesPrevious {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#slides .slidesNext:hover {
    background-image: url(../images/content/slider/next_hover.png);
}
#slides .slidesPrevious:hover {
    background-image: url(../images/content/slider/prev_hover.png);
}
.slidesPagination {
    position: absolute;
    bottom: 20px;
    left: 55px;
    z-index: 99;
}

.slidesPagination li {
    float:left;
    margin-right: 5px;
}

.slidesPagination li a {
    display:block;
    overflow:hidden;
    width: 7px;
    height: 7px;
    border: 2px solid #F7F7F7;
    text-indent: -9999px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.slidesPagination li.slidesCurrent a {
    background: #fff;
}

.current_slide {
    font:bold 10px/1.33 sans-serif;
    float:left;
    margin-top:12px;
}

.controls {
    display:block;
    margin-top:12px;
    float:left;
    color:#333;
    font:bold 10px/1.33 sans-serif;
    margin-right:10px;
}